version: '3.8'

services:
  backstage:
    image: ${DOCKER_IMAGE}
    container_name: ${SERVICE_NAME}
    ports:
      - "7015:7015"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - cuvera-network
    volumes:
      - type: volume
        source: backstage-temp-data
        target: /data
    deploy:
      resources:
        limits:
          memory: 2G
          cpus: '0.5'
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  backstage-temp-data:
    driver: local

networks:
  cuvera-network:
    external: true